<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Video.FFMPEG" version="3.8.0" targetFramework="net48" />
  <package id="cef.redist.x64" version="99.2.12" targetFramework="net48" />
  <package id="cef.redist.x86" version="99.2.12" targetFramework="net48" />
  <package id="CefSharp.Common" version="99.2.120" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="99.2.120" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>