.arialFont {
	font-family: "Arial";
	font-size: 11pt;
}

body {
	overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.darkElement {
	background-color: rgb(32,32,32);
	color: white;
}

.emote {
    vertical-align: middle;
    text-align: center;
}

.noBulletPoints {
	list-style-type: none;
}

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.mediumPadding {
    padding: 8px;
}

.timeStamp {
	font-size: smaller;
	display: block;
	color: silver;
}

li {
    padding: 0;
    margin: 0 0 16px 0;
}
