.arialFont {
	font-family: "Arial";
	font-size: 11pt;
}

.badge {
	vertical-align: middle;
	padding-right: 4px;
}

body {
	overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.darkElement {
	background-color: rgb(32,32,32);
	color: white;
}

.emote {
	vertical-align: middle;
}

.noBulletPoints {
	list-style-type: none;
}

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.mediumPadding {
    padding: 8px;
}

.timeStamp {
	vertical-align: middle;
	float: left;
	font-size: smaller;
	color: silver;
	margin: 0 8px 0 0;
}

.messageBody {
	overflow: hidden;
}

li {
	display: flex;
	align-items: baseline;
    padding: 0;
    margin: 0 0 16px 0;
}
